@model AllPaczkino.Models.Parcel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parcel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <h4>SenderLocker</h4>
            <div class="form-group">
                <label asp-for="SenderLocker.address" class="control-label"></label>
                <input asp-for="SenderLocker.address" class="form-control" />
                <span asp-validation-for="SenderLocker.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderLocker.city" class="control-label"></label>
                <input asp-for="SenderLocker.city" class="form-control" />
                <span asp-validation-for="SenderLocker.city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderLocker.postal_code" class="control-label"></label>
                <input asp-for="SenderLocker.postal_code" class="form-control" />
                <span asp-validation-for="SenderLocker.postal_code" class="text-danger"></span>
            </div>
            
            <div>
                <h4>ReceiverLocker</h4>
                <div class="form-group">
                    <label asp-for="ReceiverLocker.address" class="control-label"></label>
                    <input asp-for="ReceiverLocker.address" class="form-control" />
                    <span asp-validation-for="ReceiverLocker.address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiverLocker.city" class="control-label"></label>
                    <input asp-for="ReceiverLocker.city" class="form-control" />
                    <span asp-validation-for="ReceiverLocker.city" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiverLocker.postal_code" class="control-label"></label>
                    <input asp-for="ReceiverLocker.postal_code" class="form-control" />
                    <span asp-validation-for="ReceiverLocker.postal_code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.Name" class="control-label"></label>
                    <input asp-for="Sender.ContactData.Name" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.Surname" class="control-label"></label>
                    <input asp-for="Sender.ContactData.Surname" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.Adress.CityName" class="control-label"></label>
                    <input asp-for="Sender.ContactData.Adress.CityName" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.Adress.CityName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.Adress.StreetName" class="control-label"></label>
                    <input asp-for="Sender.ContactData.Adress.StreetName" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.Adress.StreetName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.Adress.Country" class="control-label"></label>
                    <input asp-for="Sender.ContactData.Adress.Country" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.Adress.Country " class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.Adress.FlatNumber" class="control-label"></label>
                    <input asp-for="Sender.ContactData.Adress.FlatNumber" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.Adress.FlatNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.Adress.HouseNumber" class="control-label"></label>
                    <input asp-for="Sender.ContactData.Adress.HouseNumber" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.Adress.HouseNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.Adress.PostalCode" class="control-label"></label>
                    <input asp-for="Sender.ContactData.Adress.PostalCode" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.Adress.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.PhoneNumber" class="control-label"></label>
                    <input asp-for="Sender.ContactData.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sender.ContactData.Email" class="control-label"></label>
                    <input asp-for="Sender.ContactData.Email" class="form-control" />
                    <span asp-validation-for="Sender.ContactData.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.Name" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.Name" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.Surname" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.Surname" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.Adress.CityName" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.Adress.CityName" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.Adress.CityName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.Adress.StreetName" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.Adress.StreetName" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.Adress.StreetName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.Adress.Country" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.Adress.Country" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.Adress.Country " class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.Adress.FlatNumber" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.Adress.FlatNumber" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.Adress.FlatNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.Adress.HouseNumber" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.Adress.HouseNumber" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.Adress.HouseNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.Adress.PostalCode" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.Adress.PostalCode" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.Adress.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.PhoneNumber" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Receiver.ContactData.Email" class="control-label"></label>
                    <input asp-for="Receiver.ContactData.Email" class="form-control" />
                    <span asp-validation-for="Receiver.ContactData.Email" class="text-danger"></span>
                </div>
           
                <div class="form-group">
                <label asp-for="ParcelSize.Name" class="control-label"></label>
                <input asp-for="ParcelSize.Name" class="form-control" />
                @* <span asp-validation-for="ParcelSize.Name" class="text-danger"></span> *@
                <div asp-validation-summary="ModelOnly"> </div>
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
