@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4 text-center">Welcome</h1>
<div class="text-center" style="display: flex ; justify-content: space-evenly">
    
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Logowanie</h5>
            <p class="card-text">Wkrótce tutaj będziesz się mógł zalogować . . . . . .</p>
            <a href="AdminMenu" class="btn btn-primary">Zaloguj się</a>
        </div>
    </div>
   
</div>
