@{
    ViewData["Title"] = "User Home Page";
}

<div class="text-center">
    <h1 class="display-4">User menu</h1>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Nadaj paczuchę</h5>
            <p class="card-text">Wybierz opcję by nadać nową paczkę, lorem ipsum...</p>
            <a href="#" class="btn btn-primary">Nadaj paczkę</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Nadaj paczuchę</h5>
            <p class="card-text">Wybierz opcję by nadać nową paczkę, lorem ipsum...</p>
            <a href="#" class="btn btn-primary">Nadaj paczkę</a>
        </div>
    </div>
</div>