@{
    ViewData["Title"] = "User Home Page";
}
<h1 class="display-4 text-center">Menu użytkownika</h1>
<div class="text-center" style="display: flex ; justify-content: space-evenly">

    <div class="card" style="width: 18rem;" >
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Nadaj paczuchę</h5>
            <p class="card-text">Wybierz opcję by nadać nową paczkę</p>
            <a href="SendParcel/Create" class="btn btn-primary">Nadaj paczkę</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Lista paczek</h5>
            <p class="card-text">Wybierz opcję by wśwyetlić listę paczek</p>
            <a href="Parcels" class="btn btn-primary">Wyświetl listę paczek</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Dane użytkownika</h5>
            <p class="card-text">Wybierz opcję by wyświetlić swoje dane</p>
            <a href="#" class="btn btn-primary">Wyświetl dane użytkownika</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Gdzie ta paczka?</h5>
            <p class="card-text">Wybierz opcję by sprawdzić status paczki używając jej nazwy lub identyfikatora</p>
            <a href="ParcelStatus" class="btn btn-primary">Sprawdź status paczki</a>
        </div>
    </div>
</div>