@{
    ViewData["Title"] = "Admin Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/AllPaczkinoMVC.styles.css" asp-append-version="true" />
<body>
<div class="masthead">
    style
</div>
</body>

<h1 class="display-4 text-center">Aministrator menu</h1>
<div class="text-center" style="display: flex ; justify-content: space-evenly">

    <div class="card" style="width: 18rem;  ">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Lista paczkomatów</h5>
            <p class="card-text">Wybierz opcję by zarządzać paczkomatami</p>
            <a href="ParcelLockers" class="btn btn-primary">Wyświetl listę paczkomatów</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Lista paczek</h5>
            <p class="card-text">Wybierz opcję by zarządzać paczkami, wywalić, wdytować istniejącą</p>
            <a href="Parcels" class="btn btn-primary">Wyświetl listę paczek</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Lista użytkowników</h5>
            <p class="card-text">Wybierz opcję by zarządzać użytkownikami, wywalić, wdytować istniejącą</p>
            <a href="#" class="btn btn-primary">Wyświetl listę użytkowników</a>
        </div>
    </div>
   
</div>
