@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aministrator menu</h1>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Zarządzaj paczkami</h5>
            <p class="card-text">Wybierz opcję by zarządzać paczkami, wywalić, wdytować istniejącą, lorem ipsum...</p>
            <a href="#" class="btn btn-primary">Wyświetl listę paczek</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Zarządzaj paczkami1</h5>
            <p class="card-text">Wybierz opcję by zarządzać paczkami, wywalić, wdytować istniejącą, lorem ipsum...</p>
            <a href="#" class="btn btn-primary">Wyświetl listę paczek</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Zarządzaj paczkami2</h5>
            <p class="card-text">Wybierz opcję by zarządzać paczkami, wywalić, wdytować istniejącą, lorem ipsum...</p>
            <a href="#" class="btn btn-primary">Wyświetl listę paczek</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <!--<img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Zarządzaj paczkami3</h5>
            <p class="card-text">Wybierz opcję by zarządzać paczkami, wywalić, wdytować istniejącą, lorem ipsum...</p>
            <a href="#" class="btn btn-primary">Wyświetl listę paczek</a>
        </div>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
