
@model AllPaczkino.Models.Parcel
   @{
       ViewData["Title"] = "ParcelStatus";
   }
   
   <h1 class="display-4 text-center">Sprawdz Status Paczki</h1>
   <div class="text-center" style="display: flex; justify-content: space-evenly">
       <div class="card" style="width: 18rem;">
           <div class="card-body">
               <h5 class="card-title">Wpisz nazwę lub ID paczki</h5>
               <div class="card-body">
                   <form asp-controller="ParcelStatus" asp-action="Details" method="post">
                    <input type="text" class="form-control"data-val-required="To pole jest wymagane." name="nameOrId" />
                       <button type="submit" class="btn btn-primary">Sprawdz status paczki</button>
                   </form>
               </div>
           </div>
       </div>
   </div>
